ClientePrueba/ClientePrueba/Connected Services/MaterialAceroGM/MaterialAceroGM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterialAceroGM" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroGM.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroGM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroGM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialAceroGM_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarPorCalidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorCalidad" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarPorCalidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorCalidadResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorId" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroGM_ConsultarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaterialAceroGM">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/Insertar" message="tns:IMaterialAceroGM_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/InsertarResponse" message="tns:IMaterialAceroGM_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/Editar" message="tns:IMaterialAceroGM_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/EditarResponse" message="tns:IMaterialAceroGM_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/Eliminar" message="tns:IMaterialAceroGM_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/EliminarResponse" message="tns:IMaterialAceroGM_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarTodos" message="tns:IMaterialAceroGM_ConsultarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarTodosResponse" message="tns:IMaterialAceroGM_ConsultarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorCalidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarPorCalidad" message="tns:IMaterialAceroGM_ConsultarPorCalidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarPorCalidadResponse" message="tns:IMaterialAceroGM_ConsultarPorCalidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarPorId" message="tns:IMaterialAceroGM_ConsultarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroGM/ConsultarPorIdResponse" message="tns:IMaterialAceroGM_ConsultarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MaterialAceroGM" />
</wsdl:definitions>