ClientePrueba/ClientePrueba/Connected Services/MaterialAceroGM/MaterialAceroGM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AceroGMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acabado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Medidas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AceroGMaquinaria" nillable="true" type="tns:AceroGMaquinaria" />
  <xs:complexType name="ArrayOfAceroGMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AceroGMaquinaria" nillable="true" type="tns:AceroGMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAceroGMaquinaria" nillable="true" type="tns:ArrayOfAceroGMaquinaria" />
</xs:schema>